force-app/main/default/flows/Actualizar_campo_NO_contactar_por_actualizacion_masiva.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Verificar_si_se_actualiz_el_campo_Nuevo_No_Contactar</name>
        <label>Verificar si se actualiz贸 el campo Nuevo No Contactar</label>
        <locationX>492</locationX>
        <locationY>389</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Se_modifico_campo_Nue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Nuevo_No_contactar__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_campo_NO_CONTACTAR</targetReference>
            </connector>
            <label>SI se actualiz贸 el campo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Actualizar campo NO contactar por actualizaci贸n masiva {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar campo NO contactar por actualizaci贸n masiva</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_campo_NO_CONTACTAR</name>
        <label>Actualizar campo NO CONTACTAR</label>
        <locationX>500</locationX>
        <locationY>537</locationY>
        <inputAssignments>
            <field>No_Contactar__c</field>
            <value>
                <elementReference>$Record.No_contactar_modificado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nuevo_No_contactar__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Verificar_si_se_actualiz_el_campo_Nuevo_No_Contactar</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
