force-app/main/default/flows/Actualizar_CAE_ID_operacion_y_Comprobante_en_Oportunidad_FLUJO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envio_recibo_Pucar_al_donante</name>
        <label>Envío recibo Pucará al donante</label>
        <locationX>487</locationX>
        <locationY>825</locationY>
        <actionName>Opportunity.Envio_recibo_Pucara_al_donante</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.pucatech__Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Envio_recibo_Pucara_al_donante</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>El_donante_tiene_tildado_Envia_recibo_Pucara</name>
        <label>¿El donante tiene tildado &quot;Enviár recibo Pucara?</label>
        <locationX>479</locationX>
        <locationY>571</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>El_donante_tiene_tildado_Enviar_recibo_Pucara</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pucatech__Opportunity__r.npsp__Primary_Contact__r.Enviar_recibo_Pucara__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_recibo_Pucar_al_donante</targetReference>
            </connector>
            <label>El donante tiene tildado &quot;Enviar recibo Pucará&quot;</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Actualizar CAE, ID operacion y Comprobante en Oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar CAE, ID operacion y Comprobante en Oportunidad_FLUJO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_CAE_y_otros_datos_del_comprobante_en_la_OPP</name>
        <label>Actualizar CAE y otros datos del comprobante, en la OPP</label>
        <locationX>487</locationX>
        <locationY>414</locationY>
        <connector>
            <targetReference>El_donante_tiene_tildado_Envia_recibo_Pucara</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pucatech__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Nro_Recibo__c</field>
            <value>
                <elementReference>$Record.pucatech__ID_Comprobante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pucar_CAE__c</field>
            <value>
                <elementReference>$Record.pucatech__cae__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pucara_Fecha_Comprobante__c</field>
            <value>
                <elementReference>$Record.pucatech__Fecha_de_Comprobante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pucara_ID_Operacion__c</field>
            <value>
                <elementReference>$Record.pucatech__Id_Operacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pucara_Punto_de_Venta__c</field>
            <value>
                <elementReference>$Record.pucatech__Punto_de_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pucara_Recibo__c</field>
            <value>
                <elementReference>$Record.pucatech__ID_Comprobante__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>359</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pucatech__Id_Operacion__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>pucatech__Comprobante_Pucara__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Ejecutar_1_dia_despues_de_que_se_actualice_el_comprobante</name>
            <connector>
                <targetReference>Actualizar_CAE_y_otros_datos_del_comprobante_en_la_OPP</targetReference>
            </connector>
            <label>Ejecutar 1 día después de que se actualice el comprobante</label>
            <maxBatchSize>199</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CorreoElectronicoDelContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID_Contacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
