force-app/main/default/flows/Baja_Donacion_Recurrente_Lightning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Baja_Donaci_n_Recurrente_Lightning_Rechazos_permanentes_Etiqueta</name>
        <label>Baja Donación Recurrente - Lightning - Rechazos permanentes *Etiqueta</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>npe03__Recurring_Donation__c.Baja_Donacion_Recurrente_Rechazo_Permanente</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npe03__Recurring_Donation__c.Baja_Donacion_Recurrente_Rechazo_Permanente</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Baja_Donacion_Recurrente_Lightning</name>
        <label>Baja Donación Recurrente - Lightning</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>npe03__Recurring_Donation__c.Baja_Donacion_Recurrente_Lightning</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npe03__Recurring_Donation__c.Baja_Donacion_Recurrente_Lightning</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>El_contacto_tiene_mail</name>
        <label>¿El contacto tiene mail?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_tiene_mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe03__Contact__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe03__Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>El_motivo_de_baja_es_RECHAZOS_CONSECUTIVOS</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Para estos dos motivos de baja, se envía una plantilla especial</description>
        <name>El_motivo_de_baja_es_RECHAZOS_CONSECUTIVOS</name>
        <label>¿El motivo de baja es RECHAZOS PERMANENTE o CONSECUTIVO REITERADO?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Baja_Donacion_Recurrente_Lightning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Raz_n_de_baja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazo permanente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Raz_n_de_baja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazos reiterados consecutivos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Baja_Donaci_n_Recurrente_Lightning_Rechazos_permanentes_Etiqueta</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Baja Donación Recurrente - Lightning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Baja Donación Recurrente - Lightning</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>El_contacto_tiene_mail</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>npe03__Open_Ended_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>OPP_cobradas_de_esta_DDRR__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>npe03__Recurring_Donation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
