force-app/main/default/flows/Detectar_CANDIDATOS_cuyos_mails_existen_en_CONTACTOS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Detectar CANDIDATOS cuyos mails existen en CONTACTOS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Detectar CANDIDATOS cuyos mails existen en CONTACTOS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Se busca en el objeto CONTACTO, si existe un contacto con igual mail que el candidato. En caso de existir, se obtiene el ID de contacto y otros datos</description>
        <name>Obtengo_ID_de_contacto</name>
        <label>Obtengo ID de contacto</label>
        <locationX>659</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_datos_del_CONTACTO_encontrado_en_el_CANDIDATO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Contacto_Es_donante_recurrente_activo</assignToReference>
            <field>Es_donante_recurrente_activo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contacto_ID18caracteres</assignToReference>
            <field>ID_18_carateres__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Si se encontró un CONTACTO con idem mail que el CANDIDATO, entonces se copian en el candidato algunso campos del contacto</description>
        <name>Actualizar_datos_del_CONTACTO_encontrado_en_el_CANDIDATO</name>
        <label>Actualizar datos del CONTACTO encontrado, en el CANDIDATO</label>
        <locationX>651</locationX>
        <locationY>548</locationY>
        <inputAssignments>
            <field>El_contacto_relacionado_es_Donante__c</field>
            <value>
                <elementReference>Contacto_Es_donante_recurrente_activo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_de_contacto__c</field>
            <value>
                <elementReference>Contacto_ID18caracteres</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>533</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Obtengo_ID_de_contacto</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contacto_Es_donante_recurrente_activo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contacto_ID18caracteres</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
