force-app/main/default/flows/Generaci_n_masiva_de_CONTACTOS_y_DONACIONES_externas_producci_n_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Variable</name>
        <label>Asignar Variable</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Contacto_existente</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verificar_tipo_de_donacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Variable_2</name>
        <label>Asignar Variable</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Contacto_existente_mail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verificar_tipo_de_donacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_1_de_Asignar_Variable</name>
        <label>Asignar Variable</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Contacto_existente_mail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verificar_tipo_de_donacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contacto_Existe</name>
        <label>¿Contacto existe por DNI?</label>
        <locationX>710</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Contacto_existe_por_MAIL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contacto_existente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Actualizar_Donaci_n_Externa_a_AGREGADA</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacto_existe_por_MAIL</name>
        <label>¿Contacto existe por MAIL?</label>
        <locationX>908</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Donacion_Externa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SI_existe_por_mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contacto_existente_mail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Donacion_Externa_a_AGREGADA_por_mail</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_contacto</name>
        <label>¿Existe contacto?</label>
        <locationX>248</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Verifcar_si_el_contacto_existe_por_MAIL_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_existe_contacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contacto_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Variable</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_contacto_2</name>
        <label>¿Existe contacto?</label>
        <locationX>974</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Crear_CONTACTO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_existe_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contacto_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Variable_2</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_contacto_3</name>
        <label>¿Existe contacto?</label>
        <locationX>446</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Crear_CONTACTO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_existe_contacto_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contacto_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Asignar_Variable</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_DONACION_EXTERNA_tiene_DNI_informado</name>
        <label>¿La DONACION EXTERNA tiene DNI informado?</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>La_DONACION_EXTERNA_tiene_MAIL_informado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_tiene_DNI_informado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Doc_num__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Doc_num__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifcar_si_el_contacto_existe_por_DNI</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_DONACION_EXTERNA_tiene_MAIL_informado</name>
        <label>¿La DONACION EXTERNA tiene MAIL informado?</label>
        <locationX>1172</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Verificar_tipo_de_donacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_tiene_mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifcar_si_el_contacto_existe_por_MAIL</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_tipo_de_donacion</name>
        <label>¿La donación mensual?</label>
        <locationX>710</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Crear_OPORTUNIDAD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cuotas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mensual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_DONACION_RECURRENTE</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generación masiva de CONTACTOS y DONACIONES externas_producción V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generación masiva de CONTACTOS y DONACIONES externas_producción V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copia_1_de_Crear_CONTACTO</name>
        <label>Crear CONTACTO</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <assignRecordIdToReference>Contacto_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Verificar_tipo_de_donacion</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Fecha_nac__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Nombre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Telefono__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Apellido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.Origen_contacto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.Provincia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.Direccion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Telefono1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_mero_de_identificaci_n__c</field>
            <value>
                <elementReference>$Record.Doc_num__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.Telefono1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sexo__c</field>
            <value>
                <elementReference>$Record.Sexo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_identificaci_n__c</field>
            <value>
                <elementReference>$Record.Doc_tipo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_CONTACTO</name>
        <label>Crear CONTACTO</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignRecordIdToReference>Contacto_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Verificar_tipo_de_donacion</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Fecha_nac__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Nombre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Telefono__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Apellido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.Origen_contacto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.Provincia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.Direccion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Telefono1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_mero_de_identificaci_n__c</field>
            <value>
                <elementReference>$Record.Doc_num__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.Telefono1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sexo__c</field>
            <value>
                <elementReference>$Record.Sexo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_identificaci_n__c</field>
            <value>
                <elementReference>$Record.Doc_tipo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_DONACION_RECURRENTE</name>
        <label>Crear DONACION RECURRENTE</label>
        <locationX>578</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Contacto_Existe</targetReference>
        </connector>
        <inputAssignments>
            <field>Canal__c</field>
            <value>
                <stringValue>Telemarketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Categor_a__c</field>
            <value>
                <stringValue>Aporte</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>$Record.IdFullmarketing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destino_de_los_fondos__c</field>
            <value>
                <elementReference>$Record.Destino_de_fondos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_compromiso__c</field>
            <value>
                <elementReference>$Record.fecha_de_compromiso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_vencimiento_mm_aaaa__c</field>
            <value>
                <elementReference>$Record.Vencimiento_Tarjeta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forma_de_pago__c</field>
            <value>
                <elementReference>$Record.Forma_de_Pago__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moneda__c</field>
            <value>
                <stringValue>Pesos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_mero_en_Tarjeta__c</field>
            <value>
                <elementReference>$Record.Numero_de_Tarjeta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <elementReference>$Record.Origen_de_la_Donaci_n__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012f3000000DxxEAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcanal__c</field>
            <value>
                <elementReference>$Record.Subcanal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_compromiso__c</field>
            <value>
                <stringValue>Primer compromiso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_tarjeta__c</field>
            <value>
                <elementReference>$Record.Medio_de_pago__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Amount__c</field>
            <value>
                <elementReference>$Record.Importe__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Contact__c</field>
            <value>
                <elementReference>Contacto_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Date_Established__c</field>
            <value>
                <elementReference>$Record.Fecha_inicio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Installment_Period__c</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Next_Payment_Date__c</field>
            <value>
                <elementReference>$Record.Fecha_de_pr_xima_donaci_n__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Open_Ended_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Recurring_Donation_Campaign__c</field>
            <value>
                <elementReference>$Record.Campania__c</elementReference>
            </value>
        </inputAssignments>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_OPORTUNIDAD</name>
        <label>Crear OPORTUNIDAD</label>
        <locationX>842</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Contacto_Existe</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Importe__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Campania__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal__c</field>
            <value>
                <stringValue>Telemarketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Categor_a__c</field>
            <value>
                <stringValue>Aporte</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.fecha_de_compromiso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contacto_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.IdFullmarketing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destino_de_Fondos__c</field>
            <value>
                <elementReference>$Record.Destino_de_fondos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FechaVencTj__c</field>
            <value>
                <elementReference>$Record.Vencimiento_Tarjeta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_compromiso__c</field>
            <value>
                <elementReference>$Record.fecha_de_compromiso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forma_de_Pago__c</field>
            <value>
                <elementReference>$Record.Forma_de_Pago__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moneda__c</field>
            <value>
                <stringValue>Pesos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nro_de_tarjeta__c</field>
            <value>
                <elementReference>$Record.Numero_de_Tarjeta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen_de_la_oportunidad__c</field>
            <value>
                <elementReference>$Record.Origen_de_la_Donaci_n__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012f3000000DxxLAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Esperando respuesta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcanal__c</field>
            <value>
                <elementReference>$Record.Subcanal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_tarjeta__c</field>
            <value>
                <elementReference>$Record.Medio_de_pago__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Verifcar_si_el_contacto_existe_por_DNI</name>
        <label>Verifcar si el contacto existe por DNI</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>N_mero_de_identificaci_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Doc_num__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Contacto_ID</assignToReference>
            <field>ID_18_carateres__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Verifcar_si_el_contacto_existe_por_MAIL</name>
        <label>Verifcar si el contacto existe por MAIL</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_contacto_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Contacto_ID</assignToReference>
            <field>ID_18_carateres__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Verifcar_si_el_contacto_existe_por_MAIL_2</name>
        <label>Verifcar si el contacto existe por MAIL</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_contacto_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Contacto_ID</assignToReference>
            <field>ID_18_carateres__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Donacion_Externa</name>
        <label>Actualizar Donación Externa a CONVERTIDA</label>
        <locationX>1040</locationX>
        <locationY>1919</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Convertida</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Donacion_Externa_a_AGREGADA_por_mail</name>
        <label>Actualizar Donación Externa a AGREGADA por MAIL</label>
        <locationX>776</locationX>
        <locationY>1919</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Agregada por Mail</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_1_de_Actualizar_Donaci_n_Externa_a_AGREGADA</name>
        <label>Actualizar Donación Externa a AGREGADA</label>
        <locationX>512</locationX>
        <locationY>1799</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Agregada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>La_DONACION_EXTERNA_tiene_DNI_informado</targetReference>
        </connector>
        <object>Donacion_Externa__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Contacto_existente</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Contacto_existente_mail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>contacto_existia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Contacto_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
