force-app/main/default/flows/Generaci_n_masiva_de_CONTACTOS_y_DONACIONES_externas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Existe_contacto</name>
        <label>¿Existe contacto?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Crear_CONTACTO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_existe_contacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contacto_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verificar_tipo_de_donacion</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_tipo_de_donacion</name>
        <label>¿La donación mensual?</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Crear_OPORTUNIDAD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cuotas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mensual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_DONACION_RECURRENTE</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generación masiva de CONTACTOS y DONACIONES externas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generación masiva de CONTACTOS y DONACIONES externas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_CONTACTO</name>
        <label>Crear CONTACTO</label>
        <locationX>270</locationX>
        <locationY>575</locationY>
        <assignRecordIdToReference>Contacto_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Verificar_tipo_de_donacion</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Nombre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Telefono__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Apellido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sexo__c</field>
            <value>
                <elementReference>$Record.Sexo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_DONACION_RECURRENTE</name>
        <label>Crear DONACION RECURRENTE</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Canal__c</field>
            <value>
                <stringValue>Telemarketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Categor_a__c</field>
            <value>
                <stringValue>Aporte</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destino_de_los_fondos__c</field>
            <value>
                <stringValue>Libre disponibilidad</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_compromiso__c</field>
            <value>
                <elementReference>$Record.Fecha_inicio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_vencimiento_de_la_Tarjeta__c</field>
            <value>
                <dateValue>2024-01-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forma_de_pago__c</field>
            <value>
                <elementReference>$Record.Forma_de_Pago__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moneda__c</field>
            <value>
                <stringValue>Pesos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_mero_en_Tarjeta__c</field>
            <value>
                <elementReference>$Record.Numero_de_Tarjeta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012f3000000DxxEAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcanal__c</field>
            <value>
                <elementReference>$Record.Subcanal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_compromiso__c</field>
            <value>
                <stringValue>Primer compromiso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_tarjeta__c</field>
            <value>
                <elementReference>$Record.Medio_de_pago__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Amount__c</field>
            <value>
                <elementReference>$Record.Importe__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Contact__c</field>
            <value>
                <elementReference>Contacto_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Date_Established__c</field>
            <value>
                <elementReference>$Record.Fecha_inicio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Installment_Period__c</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Open_Ended_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_OPORTUNIDAD</name>
        <label>Crear OPORTUNIDAD</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Importe__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal__c</field>
            <value>
                <stringValue>Telemarketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Categor_a__c</field>
            <value>
                <stringValue>Aporte</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Fecha_inicio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contacto_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destino_de_Fondos__c</field>
            <value>
                <stringValue>Libre disponibilidad</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FechaVencTj__c</field>
            <value>
                <elementReference>$Record.Vencimiento_Tarjeta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forma_de_Pago__c</field>
            <value>
                <elementReference>$Record.Forma_de_Pago__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nro_de_tarjeta__c</field>
            <value>
                <elementReference>$Record.Numero_de_Tarjeta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen_de_la_oportunidad__c</field>
            <value>
                <stringValue>Espontánea</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000000jvBZAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prometida</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcanal__c</field>
            <value>
                <stringValue>Full Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_tarjeta__c</field>
            <value>
                <elementReference>$Record.Medio_de_pago__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Verifcar_si_el_contacto_existe_por_DNI</name>
        <label>Verifcar si el contacto existe por DNI</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>N_mero_de_identificaci_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Doc_num__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Contacto_ID</assignToReference>
            <field>ID_18_carateres__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verifcar_si_el_contacto_existe_por_DNI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IdFullmarketing__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Donacion_Externa__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Contacto_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
