force-app/main/default/flows/Generar_CONTACTO_a_partir_de_CANDIDATO_Produccion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_genero</name>
        <label>Asignar género</label>
        <locationX>930</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CANDIDATO_Genero</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sexo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_CONTACTO_idem_al_CANDIDATO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_genero_No_informado</name>
        <label>Asignar género &quot;Sin informar&quot;</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CANDIDATO_Genero</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sin informar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_CONTACTO_idem_al_CANDIDATO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>El_CANDIDATO_tiene_campa_a</name>
        <label>¿El CANDIDATO tiene campaña?</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Cambiar_estado_del_candidato_a_CERRADO_NO_CONVERTIDO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_tiene_campania</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.campaign_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.campaign_id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verificar_si_el_CONTACTO_existente_ya_tIene_la_CAMPANIA</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>El_CANDIDATO_tiene_CAMPANIA_3</name>
        <label>¿El CANDIDATO tiene CAMPAÑA?</label>
        <locationX>798</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Cambiar_estado_del_candidato_a_CERRADO_CONVERTIDO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_tiene_campania3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.campaign_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.campaign_id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_CAMPANIA_al_CONTACTO</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>El_CANDIDATO_tiene_genero_informado</name>
        <label>¿El CANDIDATO tiene género informado?</label>
        <locationX>798</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Asignar_genero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SI</defaultConnectorLabel>
        <rules>
            <name>NO_tiene_genero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sexo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Femenino</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sexo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Masculino</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_genero_No_informado</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>El_CONTACTO_ya_tiene_la_CAMPANIA_del_CANDIDATO_asignada</name>
        <label>¿El CONTACTO ya tiene la CAMPAÑA del CANDIDATO asignada?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Cambiar_estado_del_candidato_a_CERRADO_NO_CONVERTIDO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SI</defaultConnectorLabel>
        <rules>
            <name>NO_tiene_campania2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CONTACTO_miembro_campania</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_CAMPANIA_al_CONTACTO</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_contacto_con_igual_mail</name>
        <label>¿Existe CONTACTO?</label>
        <locationX>567</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>El_CANDIDATO_tiene_genero_informado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_existe_contacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CONTACTO_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>El_CANDIDATO_tiene_campa_a</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generar CONTACTO a partir de CANDIDATO_Produccion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generar CONTACTO a partir de CANDIDATO_Produccion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Agregar_CAMPANIA_al_CONTACTO</name>
        <label>Agregar CAMPAÑA al CONTACTO</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Cambiar_estado_del_candidato_a_CERRADO_NO_CONVERTIDO</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.campaign_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CONTACTO_id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Asignar_CAMPANIA_al_CONTACTO</name>
        <label>Asignar CAMPAÑA al CONTACTO</label>
        <locationX>666</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Cambiar_estado_del_candidato_a_CERRADO_CONVERTIDO</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.campaign_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CONTACTO_nuevo_ID</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_CONTACTO_idem_al_CANDIDATO</name>
        <label>Crear CONTACTO idem al CANDIDATO</label>
        <locationX>798</locationX>
        <locationY>839</locationY>
        <assignRecordIdToReference>CONTACTO_nuevo_ID</assignRecordIdToReference>
        <connector>
            <targetReference>El_CANDIDATO_tiene_CAMPANIA_3</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sexo__c</field>
            <value>
                <elementReference>CANDIDATO_Genero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Buscar_CONTACTO_con_igual_mail</name>
        <label>Buscar CONTACTO con igual mail</label>
        <locationX>567</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_contacto_con_igual_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CONTACTO_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Verificar_si_el_CONTACTO_existente_ya_tIene_la_CAMPANIA</name>
        <label>Verificar si el CONTACTO existente ya tIene la CAMPAÑA</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>El_CONTACTO_ya_tiene_la_CAMPANIA_del_CANDIDATO_asignada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.campaign_id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CONTACTO_id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>CONTACTO_miembro_campania</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Cambiar_estado_del_candidato_a_CERRADO_CONVERTIDO</name>
        <label>Cambiar estado del  candidato a CERRADO - CONVERTIDO</label>
        <locationX>798</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Converted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Cambiar_estado_del_candidato_a_CERRADO_NO_CONVERTIDO</name>
        <label>Cambiar estado del  candidato a CERRADO - NO CONVERTIDO</label>
        <locationX>336</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Not Converted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>441</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_CONTACTO_con_igual_mail</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Campaniaaasignar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>701f300000169ChAAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>CANDIDATO_Genero</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CONTACTO_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CONTACTO_miembro_campania</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CONTACTO_nuevo_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
