force-app/main/default/flows/Nueva_OPP_Unica_Vez_Agradecimiento_con_validacion_de_campania.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_agradecimiento_TOMBOLA_2023</name>
        <label>Enviar agradecimiento TOMBOLA 2023</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Nueva_OPP_de_unica_vez_Lightning_TOMBOLA_2023</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Nueva_OPP_de_unica_vez_Lightning_TOMBOLA_2023</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>El_contacto_tiene_mail</name>
        <label>¿El contacto tiene mail?</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_tiene_mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_campania_TOMBOLA_2023</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_campania_TOMBOLA_2023</name>
        <label>¿Es campaña TOMBOLA 2023?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SI_es_campania_TOMBOLA_2023</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>701Pl000003ACmEIAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_agradecimiento_TOMBOLA_2023</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <description>Este flujo se envía cuando se genera una nueva OPP de única vez, Si la campaña es TOMBOLA, envía una plantilla particular. Para todo el resto envía la general</description>
    <environments>Default</environments>
    <interviewLabel>Nueva OPP Unica Vez - Agradecimiento con validacion de campaña {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nueva OPP Unica Vez - Agradecimiento con validación de campaña</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>El_contacto_tiene_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012f3000000DxxLAAS</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
