force-app/main/default/flows/Nueva_OPP_Unica_Vez_Agradecimiento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Agradecimiento_ENTRADA_2024_Unica_vez</name>
        <label>Agradecimiento ENTRADA 2024 Unica vez</label>
        <locationX>930</locationX>
        <locationY>971</locationY>
        <actionName>Opportunity.Agradecimiento_ENTRADA_2024_Unica_vez</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Actualizar_registros_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Agradecimiento_ENTRADA_2024_Unica_vez</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Agradecimiento_ENTRADA_CENA_TUCUMAN_2024_Unica_vez</name>
        <label>Agradecimiento ENTRADA CENA TUCUMAN 2024 Unica vez</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Opportunity.Agradecimiento_ENTRADA_CenaTucuman_2024_Unica_vez</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Agradecimiento_ENTRADA_CenaTucuman_2024_Unica_vez</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Agradecimiento MES DE LAS INFANCIAS 2024 Unica vez</description>
        <name>Agradecimiento_MES_DE_LAS_INFANCIAS_2024_Unica_vez</name>
        <label>Agradecimiento MES DE LAS INFANCIAS 2024 Unica vez</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Agradecimiento_MES_INFANCIAS_2024_Unica_vez</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Agradecimiento_MES_INFANCIAS_2024_Unica_vez</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Enviar_agradecimiento_carrera_Solidaria_2024</name>
        <label>Enviar agradecimiento carrera Solidaria 2024</label>
        <locationX>666</locationX>
        <locationY>947</locationY>
        <actionName>Opportunity.Agradecimiento_Carrera_Solidaria_2024</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Agradecimiento_Carrera_Solidaria_2024</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Enviar_agradecimiento_OPP_Unica_Vez_General</name>
        <label>Enviar agradecimiento OPP Unica Vez General</label>
        <locationX>1986</locationX>
        <locationY>1079</locationY>
        <actionName>Opportunity.Nueva_OPP_de_unica_vez_Lightning</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Nueva_OPP_de_unica_vez_Lightning</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Enviar_agradecimiento_PONETE_LA_CAMISETA</name>
        <label>Enviar agradecimiento PONETE LA CAMISETA</label>
        <locationX>1458</locationX>
        <locationY>971</locationY>
        <actionName>Opportunity.Agradecimiento_PLC_2024_Unica_vez</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Agradecimiento_PLC_2024_Unica_vez</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Nueva_OPP_de_nica_vez_Lightning_TOMBOLA</name>
        <label>Nueva OPP de única vez - Lightning TOMBOLA</label>
        <locationX>1722</locationX>
        <locationY>1079</locationY>
        <actionName>Opportunity.Nueva_OPP_de_unica_vez_Lightning_TOMBOLA_2023</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Nueva_OPP_de_unica_vez_Lightning_TOMBOLA_2023</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>El_contacto_tiene_mail</name>
        <label>¿El contacto tiene mail?</label>
        <locationX>1303</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_tiene_mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>La_campania_es_Mes_Infancias_2024</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_campa_a_es_Cena_2024</name>
        <label>¿La campaña es Cena 2024 Entradas?</label>
        <locationX>1359</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>La_campa_a_es_PONETE_LA_CAMISETA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>701Pl00000AvOELIA3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ya_se_envi_el_mail_de_agradecimiento_al_contacto_con_la_primer_cuota</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_campa_a_es_CENA_TUCUMAN_2024</name>
        <label>¿La campaña es CENA TUCUMAN 2024?</label>
        <locationX>663</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>La_campania_es_Carrera_Solidaria_2024</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_es_Cena_Tucuman_2024</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>701Pl00000JgEjZIAV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agradecimiento_ENTRADA_CENA_TUCUMAN_2024_Unica_vez</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_campa_a_es_PONETE_LA_CAMISETA</name>
        <label>¿La campaña es PONETE LA CAMISETA?</label>
        <locationX>1656</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>La_campa_a_es_TOMBOLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_es_PLC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>701Pl0000061z9KIAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_agradecimiento_PONETE_LA_CAMISETA</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_campa_a_es_TOMBOLA</name>
        <label>¿La campaña es TOMBOLA?</label>
        <locationX>1854</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Enviar_agradecimiento_OPP_Unica_Vez_General</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_es_Tombola</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>701Pl000003ACmEIAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nueva_OPP_de_nica_vez_Lightning_TOMBOLA</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_campania_es_Carrera_Solidaria_2024</name>
        <label>¿La campaña es Carrera Solidaria 2024?</label>
        <locationX>1012</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>La_campa_a_es_Cena_2024</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_es_carrera_2024</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7014y000001MfXxAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ya_se_envio_el_mail_de_agradecimiento_al_donante_con_la_primer_cuota</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_campania_es_Mes_Infancias_2024</name>
        <label>¿La campaña es Mes de las Infancias 2024?</label>
        <locationX>356</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>La_campa_a_es_CENA_TUCUMAN_2024</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_es_mes_infancias_2024</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>701Pl00000GCQgkIAH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agradecimiento_MES_DE_LAS_INFANCIAS_2024_Unica_vez</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ya_se_envi_el_mail_de_agradecimiento_al_contacto_con_la_primer_cuota</name>
        <label>¿Ya se envió el mail de agradecimiento al contacto con la primer cuota?</label>
        <locationX>1062</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Se_envio_mail_agradecimiento_Cena_2024__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agradecimiento_ENTRADA_2024_Unica_vez</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ya_se_envio_el_mail_de_agradecimiento_al_donante_con_la_primer_cuota</name>
        <label>¿Ya se envió el mail de agradecimiento al donante con la primer cuota?</label>
        <locationX>666</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Enviar_agradecimiento_carrera_Solidaria_2024</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SI</defaultConnectorLabel>
        <rules>
            <name>NO_se_envio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Se_envio_mail_agradecimiento_Cena_2024__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_agradecimiento_carrera_Solidaria_2024</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Nueva OPP Unica Vez - Agradecimiento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nueva OPP Unica Vez - Agradecimiento</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_registros_1</name>
        <label>Actualizar registros 1</label>
        <locationX>930</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Se_envio_mail_agradecimiento_Cena_2024__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.npsp__Primary_Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>1177</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>El_contacto_tiene_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012f3000000DxxLAAS</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
