force-app/main/default/flows/Nueva_Donacion_Recurrente_Lightning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Nueva_Donaci_n_Recurrente_Lightning</name>
        <label>Nueva Donación Recurrente - Lightning</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>npe03__Recurring_Donation__c.Nueva_Donaci_n_Recurrente_Lightning</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npe03__Recurring_Donation__c.Nueva_Donaci_n_Recurrente_Lightning</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>El_contacto_tiene_mail</name>
        <label>¿El contacto tiene mail?</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_tiene_mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe03__Contact__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe03__Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nueva_Donaci_n_Recurrente_Lightning</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>El_importe_de_la_donaci_n_es_cero</name>
        <label>¿El importe de la donación es cero?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe03__Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminar_DDRR</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_campa_a_es_Recupero</name>
        <label>¿La campaña es Recupero Cambio de Tarjeta o Monto?</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>El_contacto_tiene_mail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_es_recupero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe03__Recurring_Donation_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>701Pl00000PgyNxIAJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>El_importe_de_la_donaci_n_es_cero</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Nueva Donación Recurrente Lightning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nueva Donación Recurrente - Agradecimiento</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Eliminar_DDRR</name>
        <label>Eliminar DDRR</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>La_campa_a_es_Recupero</targetReference>
        </connector>
        <object>npe03__Recurring_Donation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
